.mc-lists.el
irony
anaconda-mode
.python-environments
url
mastodon.plstore
smex-items
session*
ac-comphist.dat
ido.last
#*
projectile*
recentf
auto-save-list
el-get
elpa
eshell
*~
request
network-security.data
